---
import { CardGrid } from '@astrojs/starlight/components';
import LinkCard from './LinkCard.svelte';
import configs from '../configs';
---

{
  configs.map(({ title, style, list }) => (
    <h2 style="background: -webkit-linear-gradient(#212121, #2196f3);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">{title}</h2>
    <CardGrid stagger={style === 'stagger'}>
      {
        // @ts-ignore
        list.map(({ title, link, desc, stars, declining }) => (
          <LinkCard client:only='svelte' title={title} link={link} desc={desc} stars={stars} declining={declining}  />
        ))
      }
    </CardGrid>
  ))
}